<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>films</title>
    <link rel="stylesheet" href="/css/film.css">
</head>
<body>
<h1>Films</h1>

<script src="/js/film.js"></script>

<img src="">
</body>
</html>
