<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Login</h1>

<div id="generalError" class="general-error"></div>

<form id="loginForm">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
            <span class="error-msg" data-error="email"></span>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
            <span class="error-msg" data-error="password"></span>
    </div>

    <button type="submit">Login</button>
    <a href="/register">NEED ACCOUNT?</a>
</form>
<script src="/js/login.js"></script>
</body>
</html>
