<!DOCTYPE html>
<html>
<head>
    <title>Cinema</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header>
    <h1>Cinema Page</h1>
    <button id="logout">Logout</button>
</header>

<hr>

<div class="search-box">
    <input id="searchInput" placeholder="Search films..." />
</div>

<h1 id="h1One"></h1>

<button id="sendmessage">sendmessage</button>


<script src="/js/main.js"></script>

</body>
</html>