<!DOCTYPE html>
<html>
<head>
    <title>Cinema</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header>
    <h1>Cinema Page</h1>
    <button id="logout">Logout</button>
</header>

<hr>

<div class="search-box">
    <input id="searchInput" placeholder="Search films..." />
</div>

<h1 id="h1One"></h1>

<button id="sendmessage">sendmessage</button>

<!--<div class="comments-section">-->
<!--    <h3>comments</h3>-->

<!--    <form class="comment-form">-->
<!--        <button type="submit">Send</button>-->
<!--    </form>-->

<!--    <div class="comments-list">-->
<!--        <div class="comment-item">-->
<!--            <div class="comment-avatar">Ա</div>-->
<!--            <div class="comment-content">-->
<!--                <div class="comment-author">?<span class="comment-date">Now</span></div>-->
<!--                <p class="comment-text">This is your comments</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<script src="/js/main.js"></script>

</body>
</html>